In [1]:
import pandas as pd 
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy.sql import text 
import json

In [4]:
location01 = '인천광역시'
location02 = '계양구'
location03 = '계산동'

query_str = f'''
        SELECT DISTINCT "NAME" FROM apt2 where "CITY" = '{location01}' and "GU" = '{location02}' and "DONG" = '{location03}'
'''

engine = create_engine("postgresql://qxqcovcxobgrzr:136d1a4ee21d7d53fefe41723c82cadb3a41edd4203ef9b4759b8ecb1daf68a7@ec2-107-23-76-12.compute-1.amazonaws.com:5432/d7477vdhmjaq31", echo = False)

with engine.connect() as conn:
    query = conn.execute(text(query_str))

df = pd.DataFrame(query.fetchall())
print('-----------')
print(df)

-----------
        NAME
0         극동
1         현대
2       계산주공
3      인정프린스
4     은행마을강북
5     은행마을삼보
6     은행마을아주
7     은행마을태산
8     은행마을태평
9     초정마을동아
10  초정마을두산쌍용
11      삼보3차

In [16]:
results = df['NAME'].tolist()
answer_text = '/ '.join(results)
print(answer_text)

극동/ 현대/ 계산주공/ 인정프린스/ 은행마을강북/ 은행마을삼보/ 은행마을아주/ 은행마을태산/ 은행마을태평/ 초정마을동아/ 초정마을두산쌍용/ 삼보3차

In [3]:
location04 = '계산주공'

query_str = f'''
        SELECT DISTINCT "TYPE" FROM apt2 where "NAME" = '{location04}'
'''
engine = create_engine("postgresql://qxqcovcxobgrzr:136d1a4ee21d7d53fefe41723c82cadb3a41edd4203ef9b4759b8ecb1daf68a7@ec2-107-23-76-12.compute-1.amazonaws.com:5432/d7477vdhmjaq31", echo = False)

with engine.connect() as conn:
    query = conn.execute(text(query_str))

df = pd.DataFrame(query.fetchall())
print('-----------')
print(df)

-----------
   TYPE
0    52
1    57
2    60
3    69
4    72

In [4]:
results = df['TYPE'].tolist()
answer_text = '/ '.join(results)
print(answer_text)

TypeError: sequence item 0: expected str instance, int found

In [6]:
results = df['TYPE'].tolist()
print(str(results))

[52, 57, 60, 69, 72]

In [8]:
answer_text = ', '.join(str(results))
print(answer_text)

[, 5, 2, ,,  , 5, 7, ,,  , 6, 0, ,,  , 6, 9, ,,  , 7, 2, ]

In [10]:
answer_text = '/'.join(str(s) for s in results)
print(str3)

52/57/60/69/72

In [2]:
location04 = '계산주공'
sys_number = 60

query_str = f'''
        SELECT DISTINCT "PRICE" FROM apt2 where "NAME" = '{location04}' AND "TYPE" = {sys_number}
'''
print('---------------')
print(query_str)
print('---------------')

engine = create_engine("postgresql://qxqcovcxobgrzr:136d1a4ee21d7d53fefe41723c82cadb3a41edd4203ef9b4759b8ecb1daf68a7@ec2-107-23-76-12.compute-1.amazonaws.com:5432/d7477vdhmjaq31", echo = False)

with engine.connect() as conn:
    query = conn.execute(text(query_str))

df = pd.DataFrame(query.fetchall())
print('-----------')
print(df)

---------------

        SELECT DISTINCT "PRICE" FROM apt2 where "NAME" = '계산주공' AND "TYPE" = 60

---------------
-----------
       PRICE
0  270000000

In [3]:
results = df['PRICE'].tolist()
answer_text = '/'.join(str(s) for s in results)
print(answer_text)

270000000

In [5]:
body = {'bot': {'id': '636b161ce748f261c9b1014d!', 'name': '영끌족 부동산 길잡이'}, 'intent': {'id': '6371ba86b10fe25f796df04c', 'name': '주소3', 'extra': {'reason': {'code': 1, 'message': 'OK'}}}, 'action': {'id': '63732722e748f261c9b165ed', 'name': 'db 쿼리조회4', 'params': {'sys_number': '{"amount": 60, "unit": null}', 'sys_location05': '계산주공', 'divide': 'divide'}, 'detailParams': {'sys_number': {'groupName': '', 'origin': '60', 'value': '{"amount": 60, "unit": null}'}, 'sys_location05': {'groupName': '', 'origin': '계산주공', 'value': '계산주공'}, 'divide': {'groupName': '', 'origin': '/', 'value': 'divide'}}, 'clientExtra': {}}, 'userRequest': {'block': {'id': '6371ba86b10fe25f796df04c', 'name': '주소3'}, 'user': {'id': 'fe15bbebb7c99a448b0d690f885ef387aaab194aeb059ad196a67b26bcc3833509', 'type': 'botUserKey', 'properties': {'botUserKey': 'fe15bbebb7c99a448b0d690f885ef387aaab194aeb059ad196a67b26bcc3833509', 'bot_user_key': 'fe15bbebb7c99a448b0d690f885ef387aaab194aeb059ad196a67b26bcc3833509'}}, 'utterance': '계산주공/60\n', 'params': {'surface': 'BuilderBotTest', 'ignoreMe': 'true'}, 'lang': 'kr', 'timezone': 'Asia/Seoul'}}

In [35]:
location05 = body['action']['params']['sys_location05']
sys_number = str(json.loads(body['action']['params']['sys_number'])['amount'])
print('---------------')
print(sys_number, type(sys_number))
print('---------------')

---------------
60 <class 'str'>
---------------

In [2]:
body = {'bot': {'id': '636b161ce748f261c9b1014d!', 'name': '영끌족 부동산 길잡이'}, 'intent': {'id': '636da3f2af8d7603493689b0', 'name': '성공', 'extra': {'reason': {'code': 1, 'message': 'OK'}}}, 'action': {'id': '6374521923b1d5001554c6e2', 'name': 'db쿼리조회5', 'params': {'price': '215000000'}, 'detailParams': {'price': {'groupName': '', 'origin': '215000000', 'value': '215000000'}}, 'clientExtra': {}}, 'userRequest': {'block': {'id': '636da3f2af8d7603493689b0', 'name': '성공'}, 'user': {'id': 'fe15bbebb7c99a448b0d690f885ef387aaab194aeb059ad196a67b26bcc3833509', 'type': 'botUserKey', 'properties': {'botUserKey': 'fe15bbebb7c99a448b0d690f885ef387aaab194aeb059ad196a67b26bcc3833509', 'bot_user_key': 'fe15bbebb7c99a448b0d690f885ef387aaab194aeb059ad196a67b26bcc3833509'}}, 'utterance': '215000000', 'params': {'surface': 'BuilderBotTest', 'ignoreMe': 'true'}, 'lang': 'kr', 'timezone': 'Asia/Seoul'}, 'contexts': [{'name': 'aptName', 'lifespan': 4, 'ttl': 600, 'params': {'sys_location04': {'value': '계산주공', 'resolvedValue': '계산주공'}, 'sys_location01': {'value': '인천광역시', 'resolvedValue': '인천광역시'}, 'sys_location02': {'value': '계양구', 'resolvedValue': '계양구'}, 'sys_location03': {'value': '계산동', 'resolvedValue': '계산동'}}}, {'name': 'location', 'lifespan': 3, 'ttl': 600, 'params': {'sys_location03': {'value': '계산동', 'resolvedValue': '계산동'}, 'sys_location01': {'value': '인천광역시', 'resolvedValue': '인천광역시'}, 'divide1': {'value': '/', 'resolvedValue': 'divide'}, 'divide': {'value': '/', 'resolvedValue': 'divide'}, 'sys_location02': {'value': '계양구', 'resolvedValue': '계양구'}}}]}

In [17]:
#price = int(body['action']['params']['price'])
price = 700000000  
print('---------------')
print(price, type(price))
print('---------------')

---------------
700000000 <class 'int'>
---------------

In [21]:
responseBody = {
        "version": "2.0",
            "template": {
                "outputs": [
                    {
                        "simpleText": {
                            "text": "위에서 입력하신 기준으로 고객님은 안심전환대출 신청이 가능합니다. \n (유의사항) 주택의 시세는 변동될 수 있으며, 최종 대출 가능 여부는 실제 대출심사를 통해 확인할 수 있습니다."
                            if price <= 600000000 else "주택가격이 신청일 기준 6억원을 초과할 경우 안심전환대출신청이 불가합니다."
                         } 
                        }
                    ]
                }
     }
print(responseBody)

{'version': '2.0', 'template': {'outputs': [{'simpleText': {'text': '주택가격이 신청일 기준 6억원을 초과할 경우 안심전환대출신청이 불가합니다.'}}]}}